.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

h1 {
  margin-bottom: 20px;
}

.quiz-container {
  margin: 20px auto;
  max-width: 800px;
  text-align: left;
}

.quizInstructions {
  margin: 20px auto;
  max-width: 800px;
  text-align: left;
  margin: auto;
  align-items: center;
}

.quiz-container h2 {
  margin-bottom: 10px;
}

.quiz-container ul {
  list-style-type: none;
  padding: 0;
}

.quiz-container li {
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s, opacity 0.3s;
}

.quiz-container li:hover {
  background-color: #f8f9fa;
}

.quiz-container li[style*="cursor: not-allowed"] {
  background-color: #e9ecef;
  opacity: 0.6;
  cursor: not-allowed;
}

.score-display {
  margin-top: 20px;
  font-size: 1.2em;
}
.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
